<footer>
    <div class="footer-info">
        <div class="footer-info-social">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-facebook"></i>
        </div>
        <div class="footer-info-brand">&copy;bookME Private Limited</div>
        <div class="footer-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>