<% layout("/layout/boilerplate")-%>

 <div class="row">
    <h1 class="col-6 offset-3">Login:</h1>
        <div class="col-6 offset-3">
            <form action="/login" method="POST" class="needs-validation" novalidate>
                <div class="mb-3">
            <label for="username" class="form-label">username:</label>
            <input type="text" placeholder="Enter username" id="username" name="username" required class="form-control" > 
            <div class="valid-feedback">
                username Looks good!
            </div>
            <div class="invalid-feedback">
                Please enter username!
            </div>
        </div>
         
         <div class="mb-3">
            <label for="password" class="form-label">password:</label>
            <input type="password" placeholder="Enter password" id="password" name="password" required class="form-control" > 
            <div class="valid-feedback">
                password Looks good!
            </div>
            <div class="invalid-feedback">
                Please enter password!
            </div>
        </div>
        <button class="btn btn-secondary">Login</button>
            </form>

            </div>
            </div>